@{
    ViewBag.Title = "Контакты";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Краснодар<br />
    ул. Симиренко, 123<br />
    <abbr title="Телефон">P:</abbr>
    +7 (861) 123-12-12
</address>

<address>
    <strong>Поддержка:</strong>   <a href="mailto:Support@LiteExchange.com">Support@LiteExchange.com</a><br />
    <strong>Маркетинг:</strong> <a href="mailto:Marketing@LiteExchange.com">Marketing@LiteExchange.com</a>
</address>