@{
    ViewBag.Title = "Обмен валюты";
}


<html>
<body>

    <section>
        <div class="lite_exch about-index">
            <div class="container">
                <h2 class="valuta-header">
                    Lite Exchange
                    <br>
                    обменяйте валюту по выгодному курсу
                </h2>
                <ul class="list-group list-disc">
                    <li>Покупаем и продаем доллары США, ЕВРО
                    и другую валюту по выгордным курсам.</li>
                    <li>Выдаем наличную валюту в кассах
                    и банкоматах во всех крупных городах России.</li>
                    <li>Фиксируем для Вас курс обмена на три рабочих дня.  
                    Даем возможность исполнить сделку и раньше.</li>

                </ul>

            </div>
        </div>
    </section>
    <aside>
        <div>
            <h3>Текущий курс ЦБ</h3>
            <table>
                <tr class="header">
                    <td><p>Валюта</p></td>
                    <td><p>Курс ЦБ</p></td>
                </tr>
                @foreach (var node in ViewBag.CursCB.SelectNodes("ValCurs"))
                {
                    foreach (var child in node.ChildNodes)
                    {
                        <tr>
                            <td>@child.SelectSingleNode("CharCode").InnerText</td>
                            <td>@child.SelectSingleNode("Value").InnerText</td>
                        </tr>
                    }
                }
            </table>
        </div>
    </aside>

</body>
</html>




@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@