
@{
    ViewBag.Title = "Step3";
}

    <div class="step3_confirmation">
        Спасибо!<br />
        <br />
        @ViewBag.name, ваша заявка на обмен валюты успешно принята. Вы можете обратиться в ближайшее отделеление нашего банка. 
        <br />Не забудьте, пожалуйста, ваш паспорт.
    </div>

