
@{
    ViewBag.Title = "Step2";
}

    <div class="main">
        <div class="row">
            <input placeholder="Фамилия" />
        </div>
        <div class="row">
            <input placeholder="Имя" />
        </div>
        <div class="row">
            <input placeholder="Отчество" />
        </div>
        <div class="row">
            <input placeholder="Телефон" />
        </div>
        <div class="row">
            <input placeholder="E-mail" />
        </div>
        <div class="row">
            <a href="/Home/Step3">Далее</a>
        </div>
    </div>

